* {
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  height: 100vh;
  margin: 0;
}

.container {
  width: 600px;
  height: 600px;
  background: white;
  border: 3px solid black;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  padding: 10px;
}

.cube {
  background: dodgerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;

  /* DRAGGING NEEDS ABSOLUTE LATER */
  position: relative;
  cursor: grab;
  transition: none;
}

.cube.dragging {
  cursor: grabbing;
  z-index: 999;
}
